%h1 Musikwahl
%br
%h2 Musik Zeit
%br
%form{:action=>"/tanzmusik_zeit",:method=>"post"}
  - @times.each do |time|
    %h3 #{time}
    %ol
      %input{:type=>"radio",:name=>"#{time}",:value=>"Super"} Super
      %input{:type=>"radio",:name=>"#{time}",:value=>"Gut"} Gut
      %input{:type=>"radio",:name=>"#{time}",:value=>"Gehtso"} Gehtso
      %input{:type=>"radio",:name=>"#{time}",:value=>"Nichtso"} Nichtso
      %br
      %br
    %br
  %input{:type=>"Reset"}
  %input{:type=>"Submit",:value=>"Send"}